/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional: simple body styles */
body {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  background-color: #f8fafc;
}